.card .showSpacer {
  content: '-';
}

.card .noSpacer {
  content: '';
}

.card .bullet_spacer::after {
  content: " \2022  ";
}

.card .bullet_spacer:last-child::after {
  content: ""
}

.card .genre {
  font-size: 10px;
  line-height: 12px;
}

.card .title {
  line-height: 15px;
}
